<!DOCTYPE html>
<script src="app.js"></script>
<html ng-app="jspvsysrcp">
  <head>
    <meta charset="utf-8">
    <title>Panchakarla Ramesh Babu (JSP) vs Annamreddy Adeepraj (YSRCP) -- Result</title>
    <base href="/index.html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="docker-compose, docker, stack">
    <meta name="author" content="Docker">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      .jsp {
        background: linear-gradient(90deg, rgba(255,255,0,0.5) 50%, rgba(255,255,255,0.3) 80%, rgba(255,165,0,0.2) 100%);
      }
      .ysrcp {
        background: linear-gradient(90deg, rgba(0,0,255,1) 100%);
      }
    </style>
  </head>
  <body ng-controller="statsCtrl">
     <div id="background-stats">
       <div id="background-stats-1">
       </div><!--
      --><div id="background-stats-2">
      </div>
    </div>
    <div id="content-container">
      <div id="content-container-center">
        <div id="choice">
          <div class="choice jsp">
            <div class="label">Panchakarla Ramesh Babu (JSP)</div>
            <div class="stat">{{aPercent | number:1}}%</div>
          </div>
          <div class="divider"></div>
          <div class="choice ysrcp">
            <div class="label">Annamreddy Adeepraj (YSRCP)</div>
            <div class="stat">{{bPercent | number:1}}%</div>
          </div>
        </div>
      </div>
    </div>
    <div id="result">
      <span ng-if="total == 0">No votes yet</span>
      <span ng-if="total == 1">{{total}} vote</span>
      <span ng-if="total >= 2">{{total}} votes</span>
    </div>
    <script src="socket.io.js"></script>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
